// set the colors

$primary-color: #fd2d01;
$secondary-color: #ffd7d7;
$tertiary-color: #4e5166;

// transition
$transition: all 400ms ease;

// container width function to media
$container-width-lg: 75%;
$container-width-md: 86%;
$container-width-sm: 90%;
