.comment {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 5px;

  &__user {
    &-img {
      img {
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 100%;
      }
    }
  }
  &__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;

    &-text {
      padding: 0.5rem;
      border-radius: 5px;
    }

    &-text {
      width: 100%;
    }

    &-submit {
      display: flex;

      &-input {
        z-index: 1;
        opacity: 0;
        cursor: pointer;
      }
      &-icon {
        position: absolute;
        z-index: 0;
      }
    }
  }
}
