.all {
  display: flex;
  flex-direction: column-reverse;
}

.publication {
  background: $secondary-color;
  margin: 1rem;
  padding: 1rem 1rem 0.5rem 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: static;
  min-width: 300px;

  &__infos {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-static {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    &-edit {
      &-icon {
        font-size: 1.5rem;
        color: $tertiary-color;
        border: 1px solid transparent;
        transition: $transition;
        border-radius: 5px;

        &:hover {
          color: $primary-color;
          border-color: $primary-color;
        }
      }

      &-popup {
        display: flex;
        flex-direction: column;
        background: white;
        padding: 1rem;
        align-items: flex-start;
        gap: 1rem;
        border-radius: 5px;
        transition: $transition;

        &-update {
          font-size: 1rem;
          transition: $transition;

          &:hover {
            color: green;
          }
        }

        &-delete {
          font-size: 1rem;
          transition: $transition;
          color: $primary-color;

          &:hover {
            color: $secondary-color;
          }
        }
      }
    }
    &-text {
      h2 {
        font-size: 1rem;
      }
      p {
        font-size: 0.7rem;
        color: $tertiary-color;
      }
    }
    &-img {
      width: 50px;
      height: 50px;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 100%;
      }
    }
  }
  &__content {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &-text {
      background: white;
      padding: 1rem 1rem 1rem 0.3rem;
      border-radius: 5px;
    }

    &-img {
      background: $tertiary-color;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;

      img {
        padding: 1rem;
        min-width: 300px;
        max-width: 600px;
        max-height: 600px;
        object-fit: cover;
      }
    }
  }

  &__assets {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-like,
    &-comment {
      button {
        font-size: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        transition: $transition;
      }
    }

    &-like {
      &-all {
        display: flex;
        gap: 0.5rem;

        &-icon {
          color: red;

          @include like;
        }
      }
    }

    &-comment {
      button {
        border: 1px solid $tertiary-color;
        background: $tertiary-color;
        color: white;

        &:hover {
          background: $secondary-color;
          color: $tertiary-color;
          border-color: $tertiary-color;
        }
      }
    }
  }
}

@media screen and (max-width: 780px) {
  .publication {
    &__content {
      &-img {
        img {
          max-width: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .publish {
    width: 700px;
  }
}
