.publish {
  background: $secondary-color;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 5px;

  form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
  }

  &__form {
    &-file {
      &--close {
        display: none;
      }

      &--open {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.2);
        padding: 1rem 0;
        border-radius: 5px;

        #imgDisplay {
          object-fit: cover;
          width: 90%;
          border-radius: 5px;
        }
      }
    }
    &-text {
      display: flex;
      align-items: center;
      gap: 1rem;
      width: 100%;

      &-img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border: 1px solid black;
        border-radius: 100%;
        background: white;
      }

      &-input {
        width: 100%;
        padding: 0.5rem;
        border-radius: 7px;

        &::placeholder {
          color: $tertiary-color;
        }
      }
    }

    &-buttons {
      display: flex;
      align-items: baseline;
      justify-content: space-around;

      &-file {
        &::-webkit-file-upload-button {
          font-family: 'Lato', sans-serif;
          background: white;
          border: 1px solid black;
          padding: 0.3rem;
          border-radius: 7px;
          text-overflow: none;
          color: $tertiary-color;
          transition: $transition;
          margin-bottom: 10px;

          &:hover {
            background: $tertiary-color;
            color: $secondary-color;
            border-color: $secondary-color;
          }
        }
      }
      &-submit {
        padding: 0.5rem 1rem;
        border-radius: 7px;
        background: $tertiary-color;
        color: white;
        border: 1px solid transparent;
        transition: $transition;

        &:hover {
          border-color: $tertiary-color;
          color: white;
          background: $primary-color;
        }
      }
    }

    &-input {
      &-img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        background: $tertiary-color;
        border-radius: 5px;
      }
    }
  }

  &__edit {
    &-cancel {
      margin-top: 1rem;
      padding: 1rem;
      border-radius: 7px;
      width: 100%;
      background: white;
      transition: $transition;
      border: 1px solid transparent;

      &:hover {
        background: $primary-color;
        color: white;
        border-color: black;
      }
    }
  }
}

main.edit {
  height: 100%;
  width: 100%;
}
