// VARIABLES / TYPO
@import './utils/variables';
@import './base//typography';
@import './utils/mixin';

// PAGES
@import './pages/welcome';
@import './pages//login';
@import './pages/signup';
@import './pages/profile';
@import './pages/update';
@import './pages/_home';

// LAYOUTS
@import './layout/header';

// COMPONENTS
@import './components/nav';
@import './components/search';
@import './components/publish';
@import './components//publication';
@import './components//test';
@import './components/comment';

.test {
  display: flex;
  flex-direction: column;
  background: red;
}
