.profile {
  padding-top: 75px;

  &__cover {
    width: 100vw;

    img {
      width: 100%;
      height: 100%;
      max-height: 500px;
      object-fit: cover;
    }
  }

  &__infos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
    border-bottom: 2px solid $secondary-color;
    padding-bottom: 1rem;

    &-content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: -3rem;

      &-img {
        width: 150px;
        height: 150px;
        border: 2px solid $tertiary-color;
        border-radius: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border: 1px solid $tertiary-color;
          border-radius: 100%;
          background: white;
        }
      }

      h3 {
        color: white;
        font-size: 1.2rem;
      }
    }

    &-update {
      a {
        border: 1px solid black;
        padding: 0.8rem;
        border-radius: 10px;
        font-size: 0.9rem;
        color: black;
        background: $secondary-color;
        transition: $transition;

        &:hover {
          color: white;
          background: $primary-color;
        }
      }
    }
  }

  &__publications {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .profile {
    padding-top: 90px;
  }
}
