.signup {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 100vh;
  padding: 2rem;
  background: linear-gradient($tertiary-color, 80%, $secondary-color);

  &__intro {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    a {
      width: 20px;
    }

    &-arrow {
      border: 1px solid white;
      border-radius: 3px;
      font-size: 20px;
      color: white;
      transition: $transition;

      &:hover {
        color: $primary-color;
        border-color: $primary-color;
      }
    }
    &-title {
      color: white;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    input {
      width: 100%;
      padding: 1rem;
      margin-bottom: 1rem;
      border-radius: 5px;
      font-size: 0.9rem;
    }
  }

  &__info {
    background: $tertiary-color;
    border: 2px solid $secondary-color;
    transition: $transition;
    color: white;

    &::placeholder {
      color: $secondary-color;
      font-size: 0.9rem;
    }

    &:focus {
      background: $secondary-color;
      border-color: white;
      color: $tertiary-color;
    }
  }

  &__submit {
    background: white;
    border-color: transparent;
    transition: $transition;
    color: $tertiary-color;
    border: 2px solid transparent;

    &:hover {
      background: $primary-color;
      border-color: black;
      color: black;
    }
  }
}

@media screen and (min-width: 760px) {
  .signup {
    align-items: center;

    &__intro-arrow {
      position: absolute;
      left: 5%;
    }
    input {
      min-width: 300px;
    }
  }
}
