.update {
  &__arrow {
    position: absolute;
    left: 5%;
    margin-top: 1rem;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 20px;
    color: black;
    transition: $transition;

    &:hover {
      color: $primary-color;
      border-color: $primary-color;
    }
  }

  &__cover {
    width: 100vw;
    img {
      max-height: 200px;
      width: 100%;
      object-fit: cover;
    }
  }
  &__photo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -3rem;

    img {
      width: 100px;
      border: 3px solid $tertiary-color;
      border-radius: 100%;
      background: white;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;

    &-files {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      overflow: hidden;
    }

    &-cover,
    &-profile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &-input {
        position: absolute;
        z-index: 1;
        cursor: pointer;
        opacity: 0;
      }

      &-button {
        border: 1px solid black;
        padding: 0.5rem;
        border-radius: 5px;
        background: $secondary-color;
        color: black;
        transition: $transition;
      }

      &:hover {
        .update__form-cover-button,
        .update__form-profile-button {
          background: $primary-color;
          color: white;
          border-color: $secondary-color;
        }
      }
    }

    &-surname,
    &-name {
      padding: 1rem;
      margin: 0.5rem;
      border-radius: 5px;

      &::placeholder {
        color: $tertiary-color;
      }
    }

    &-submit {
      padding: 1rem;
      margin: 1rem;
      border-radius: 5px;
      background-color: black;
      color: white;
      font-size: 1rem;
      transition: $transition;
      border: 1px solid transparent;

      &:hover {
        background: $primary-color;
        color: white;
        border-color: black;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .update {
    &__form {
      align-items: center;
      justify-content: center;

      &-surname,
      &-name,
      &-submit {
        width: 500px;
      }
    }
  }
}

#ok,
#okk {
  width: 400px;
  height: 300px;
  object-fit: cover;
  padding: 1rem;
}
