@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Lato', sans-serif;
  background: $tertiary-color;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: black;
}

button {
  text-decoration: none;
  background: white;
  cursor: pointer;
}

// media queries
// MOBILE

main {
  padding-top: 75px;
}

@media all and (min-width: 1024px) {
  main {
    padding-top: 90px;
  }
}
